.ves-btn {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 11px;
  font-weight: 800;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  background: #011119;
  color: #edf8fe;
  padding: 0 16px;
  text-transform: uppercase;
  height: 36px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

.ves-btn:hover {
  background: #004460;
  border-color: #00aaf0;
}
